<h1>Pipe para truncar texto</h1>

<ul>
  <li>{{ texto }}</li>
  <li>{{ texto | truncar }}</li>
  <li>{{ texto | truncar:10 }}</li>
  <li>{{ texto | truncar:16:'___' }}</li>
  <li>
    {{ now | date:'dd/MM/yyyy HH:mm:ss.SSS' }}
  </li>
  <li>
    {{ value | currency:'BRL':'symbol-narrow':'1.2-2':'pt' }}
  </li>
</ul>
